.portfolio {
  min-height: 826px;
  padding: 97px 0;
  overflow: hidden;

  @include respond(xl) {
    min-height: 700px;
    padding: 70px 0;
  }

  &-header {
    width: 100%;
    display: flex;
    justify-content: center;

    h2 {
      max-width: 643px;
      font-weight: 600;
      font-size: 64px;
      line-height: 96px;
      text-align: center;
      color: #344054;

      @include respond(xl) {
        font-size: 56px;
        line-height: 70px;
      }

      @include respond(lg) {
        font-size: 42px;
        line-height: 48px;
      }

      span {
        background: $main-color;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}
