@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;
@use '@/styles/animations' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html[data-lang='ru'] {
  font-family: Inter, sans-serif;

  .navbar-logo {
    padding: 0 78px;
  }
}

html[data-lang='en'] {
  font-family: Poppins, sans-serif;
}

html[data-lang='pl'] {
  font-family: Poppins, sans-serif;

  .navbar-logo {
    padding: 0 27px;
  }

  .navbar-list a.navbar-list__item {
    font-size: 18px;
  }
}

ul,
li,
dl {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}
