@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;
@use '@/styles/animations' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins, Inter, sans-serif;
}

html[data-lang='ru'] {
  font-family: Inter, sans-serif;

  .navbar-logo {
    padding: 0 78px;

    @include respond(xl) {
      padding: 0 24px;
    }
  }

  .hero-links {
    @include respond(md) {
      width: 250px;
      height: 55px;
    }

    @include respond(sm) {
      width: 210px;
    }

    @include respond(xs) {
      width: 190px;
      height: 40px;
    }

    &__link--active {
      width: 210px;
      height: 62px;

      @include respond(xl) {
        width: 190px;
        height: 55px;
      }

      @include respond(lg) {
        width: 170px;
        height: 50px;
      }

      @include respond(md) {
        width: 135px;
        height: 45px;
      }

      @include respond(xs) {
        width: 100px;
        height: 30px;
      }
    }
  }

  .skills__second-abstract {
    @include respond(xl) {
      top: 133px;
    }
  }

  .experience__text-subtitle {
    @include respond(xl) {
      font-size: 21px;
    }

    @include respond(md) {
      font-size: 18px;
      line-height: 22px;
    }

    @include respond(sm) {
      font-size: 16px;
      line-height: 20px;
    }

    @include respond(xs) {
      font-size: 14px;
      line-height: 18px;
    }
  }

  .experience__text-title {
    @include respond(xl) {
      font-size: 29px;
    }

    @include respond(xl) {
      font-size: 30px;
    }

    @include respond(md) {
      font-size: 24px;
      line-height: 28px;
    }

    @include respond(sm) {
      font-size: 20px;
      line-height: 24px;
    }

    @include respond(xs) {
      font-size: 18px;
      line-height: 22px;
    }
  }

  .contact-wrapper {
    @include respond(md) {
      max-width: 440px;
    }

    @include respond(sm) {
      max-width: 90vw;
    }

    @include respond(xs) {
      max-width: 85vw;
    }
  }

  .portfolio-card {
    &__description {
      @include respond(sm) {
        font-size: 9px;
      }
    }
  }
}

html[data-lang='en'] {
  font-family: Poppins, sans-serif;
}

html[data-lang='pl'] {
  font-family: Poppins, sans-serif;

  .navbar-logo {
    padding: 0 27px;

    @include respond(xl) {
      padding: 0 24px;
    }

    @include respond(lg) {
      padding: 0 16px;
    }
  }

  .navbar-list a.navbar-list__item {
    font-size: 18px;

    @include respond(xl) {
      font-size: 16px;
      padding: 20px 25px;
    }

    @include respond(lg) {
      font-size: 13px;
      padding: 8px 14px;
    }
  }

  .skills__second-abstract {
    @include respond(xl) {
      top: 165px;
    }
  }

  .footer-telegram {
    &__header {
      @include respond(lg) {
        font-size: 33px;
      }

      @include respond(md) {
        font-size: 28px;
        line-height: 40px;
      }

      @include respond(sm) {
        font-size: 22px;
        line-height: 32px;
      }

      @include respond(xs) {
        font-size: 18px;
        line-height: 28px;
      }
    }
  }
}

ul,
li,
dl {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;

  @include respond(xl) {
    padding: 0 40px;
  }

  @include respond(md) {
    padding: 0 30px;
  }

  @include respond(sm) {
    padding: 0 20px;
  }

  @include respond(xs) {
    padding: 0 15px;
  }
}
