.navbar {
  border-radius: 50px;
  padding: 0 8px;
  width: 1186px;
  height: 86px;
  background-color: #171717;
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  z-index: 3;
  transition: all 0.3s ease-in-out;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: inherit;
    padding: 2px;
    background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.15)
    );
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    mask-composite: exclude;
    -webkit-mask-composite: destination-out;
    z-index: -1;

    filter: blur(1px);
    opacity: 0.8;
    transition: opacity 0.3s ease-in-out;
  }

  box-shadow: 0px 10px 30px rgba(255, 255, 255, 0.1),
    inset 0px 2px 5px rgba(255, 255, 255, 0.15);

  &-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__item {
      color: #fff;
      position: relative;
      padding: 20px 40px;
      font-weight: 400;
      font-size: 20px;
      transition: 0.2s all;

      &:hover {
        border-radius: 60px;
        padding: 20px 40px;
        background: rgba(255, 255, 255, 0.1);
      }

      &.active {
        border-radius: 60px;
        padding: 20px 40px;
        background: linear-gradient(180deg, #f8ba2b 0%, #ff7f00 70%);
      }
    }
  }

  &-logo {
    padding: 20px 101px;

    img {
      max-width: 46px;
    }
  }
}
