.skills-slider {
  margin-top: 101px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 25px;
  }

  &__controls {
    margin-top: 39px;
    display: flex;
    gap: 11px;
  }
}
