@import '../../styles/variables.scss';

.skills-slider {
  margin-top: 101px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  &__wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
  }

  &__inner {
    display: flex;
    gap: 25px;
  }

  &__controls {
    margin-top: 39px;
    display: flex;
    gap: 11px;
  }

  &__dot {
    border-radius: 21px;
    width: 15px;
    height: 15px;
    background: #e4e7ec;
    cursor: pointer;
    transition: background 0.3s ease, width 0.3s ease;

    &.active {
      width: 60px;
      background: $main-color;
    }
  }
}
