.footer {
  min-height: 685px;
  background-color: #272727;
  padding: 25px 0;

  @include respond(lg) {
    padding: 20px 0;
  }

  &-telegram {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include respond(xl) {
      height: 120px;
    }

    &__header {
      font-weight: 600;
      font-size: 64px;
      line-height: 96px;
      color: #fcfcfd;

      @include respond(xl) {
        font-size: 48px;
        line-height: 72px;
      }

      @include respond(lg) {
        font-size: 38px;
        line-height: 54px;
      }
    }

    &__link {
      border-radius: 60px;
      padding: 16px 26px;
      background: $main-color;
      display: inline-flex;
      align-items: center;
      gap: 16px;
      box-shadow: 0 8px 24px rgb(0 0 0 / 15%);
      transition: all 0.3s ease;
      transform: translateY(0);
      font-weight: 500;
      font-size: 25px;
      color: #fff;
      text-decoration: none;

      @include respond(xl) {
        padding: 12px 20px;
        font-size: 20px;
        gap: 8px;
      }

      @include respond(lg) {
        font-size: 18px;
        padding: 10px 18px;
        gap: 10px;
      }

      &:hover {
        transform: translateY(-3px);
        box-shadow: 0 12px 30px rgb(0 0 0 / 25%);

        img {
          transform: rotate(45deg) scale(1.1);
        }
      }

      img {
        max-width: 32px;
        transition: transform 0.3s ease;

        @include respond(xl) {
          max-width: 24px;
        }

        @include respond(lg) {
          max-width: 20px;
        }
      }
    }
  }

  &-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;

    @include respond(xl) {
      flex-direction: row;
      gap: 32px;
    }

    @include respond(lg) {
      flex-direction: column;
      gap: 28px;
    }
  }

  &-social {
    max-width: 312px;
    display: flex;
    flex-direction: column;
    gap: 36px;

    @include respond(xl) {
      gap: 28px;
    }

    @include respond(lg) {
      gap: 24px;
    }

    &__logo {
      display: flex;
      align-items: center;
      height: 86px;

      @include respond(xl) {
        height: 70px;
      }

      @include respond(lg) {
        height: 60px;
      }

      a {
        img {
          max-width: 159px;

          @include respond(xl) {
            max-width: 130px;
          }

          @include respond(lg) {
            max-width: 120px;
          }
        }
      }
    }

    &__descr {
      font-weight: 400;
      font-size: 20px;
      color: #fcfcfd;

      @include respond(xl) {
        font-size: 18px;
      }

      @include respond(lg) {
        font-size: 16.5px;
      }
    }

    &__links {
      list-style-type: none;
      display: flex;
      gap: 10px;
    }

    &__item {
      max-width: 25px;
      transition: transform 0.3s ease;

      @include respond(xl) {
        max-width: 20px;
      }

      @include respond(lg) {
        max-width: 16px;
      }

      &:hover {
        transform: translateY(-2px);
      }
    }
  }

  &-nav {
    @include respond(lg) {
      align-self: flex-start;
    }

    &__list {
      list-style-type: none;
      margin-top: 28px;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    &__item {
      font-weight: 400;
      font-size: 16px;
      color: #fcfcfd;
      transition: color 0.3s ease;

      @include respond(xl) {
        font-size: 14px;
      }

      @include respond(lg) {
        font-size: 13.5px;
      }

      &:hover {
        color: #fd853a;
      }
    }
  }

  &-contact {
    @include respond(lg) {
      align-self: flex-start;
    }

    &__list {
      list-style-type: none;
      margin-top: 28px;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    &__item {
      font-weight: 400;
      font-size: 16px;
      color: #fcfcfd;
      transition: color 0.3s ease;

      @include respond(xl) {
        font-size: 14px;
      }

      @include respond(lg) {
        font-size: 13.5px;
      }

      &:hover {
        color: #fd853a;
      }
    }
  }

  &-lang {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    min-width: 120px;

    @include respond(xl) {
      min-width: 100px;
    }
  }

  &-rights {
    display: flex;
    justify-content: space-between;

    @include respond(lg) {
      flex-direction: column;
      gap: 10px;
    }

    p {
      font-weight: 400;
      font-size: 18px;
      color: #fff;

      @include respond(xl) {
        font-size: 16px;
      }

      @include respond(lg) {
        font-size: 15px;
        text-align: center;
      }

      a {
        transition: color 0.3s ease;

        &:hover {
          color: #fd853a;
        }
      }
    }
  }

  &-columns {
    display: flex;
    justify-content: space-between;
  }

  &-title {
    font-weight: 600;
    font-size: 20px;
    color: #fd853a;

    @include respond(xl) {
      font-size: 18px;
    }

    @include respond(lg) {
      font-size: 16px;
    }
  }

  &-divider {
    margin: 50px 0;
    width: 100%;
    height: 2px;
    background: rgb(255 255 255 / 10%);
    border-radius: 5px;

    @include respond(lg) {
      margin: 35px 0;
    }
  }
}
