.portfolio-card {
  position: relative;
  width: 633px;
  height: 371px;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  transition: transform 0.3s ease;

  @include respond(xl) {
    width: 450px;
    height: 300px;
  }

  @include respond(lg) {
    width: 550px;
    height: 371px;
  }

  &:hover {
    transform: scale(1.02);
  }

  &__title {
    position: absolute;
    bottom: 0;
    left: 20px;
    font-weight: 700;
    font-size: 70px;
    line-height: 105px;
    color: #fffaf5;
    z-index: 1;
    transition: opacity 0.2s ease 0.1s;

    @include respond(xl) {
      font-size: 52px;
      line-height: 78px;
    }

    @include respond(lg) {
      font-size: 70px;
      line-height: 105px;
    }

    .portfolio-card:hover & {
      opacity: 0;
    }
  }

  &__overlay {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 593px;
    height: 196px;
    padding: 0 24px 20px;
    border-radius: 24px;
    background: rgb(0 0 0 / 30%);
    backdrop-filter: blur(25px);
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.4s ease;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    pointer-events: none;
    transition:
      opacity 0.3s ease,
      transform 0.3s ease;

    @include respond(xl) {
      width: 410px;
      height: 165px;
      padding: 0 18px 18px;
    }

    @include respond(lg) {
      width: 510px;
      height: 196px;
      padding: 0 24px 20px;
    }

    .portfolio-card:hover & {
      opacity: 1;
      transform: translateY(0);
      pointer-events: auto;
    }
  }

  &__overlay-content {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-height: 100%;
    color: #fff;
  }

  &__overlay-title {
    font-weight: 700;
    font-size: 70px;
    line-height: 105px;
    color: #fffaf5;

    @include respond(xl) {
      font-size: 52px;
      line-height: 78px;
    }

    @include respond(lg) {
      font-size: 60px;
      line-height: 95px;
    }
  }

  &__description {
    font-weight: 400;
    font-size: 16px;
    color: #ffead5;
    line-height: 24px;
    max-width: 565px;

    @include respond(xl) {
      font-size: 11px;
      line-height: 20px;
      max-width: 410px;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    @include respond(lg) {
      font-size: 15px;
      line-height: 24px;
      max-width: 565px;
    }
  }

  &__icon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 64px;
    height: 64px;
    border: 1px solid #fd853a;
    border-radius: 60px;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.3s ease;

    @include respond(xl) {
      width: 50px;
      height: 50px;

      svg {
        width: 20px;
        height: 18px;
      }
    }

    @include respond(lg) {
      width: 64px;
      height: 64px;
    }

    &:hover {
      background: #fd853a;

      .portfolio-card__icon-path {
        fill: #fffaf5;
      }
    }

    .portfolio-card__icon-path {
      fill: #fd853a;
      transition: fill 0.3s ease;
    }
  }
}
