@import '../../styles/variables.scss';
@import '../../styles/animations.scss';

.skills {
  padding: 116px 0 9px 0;
  height: 878px;
  width: 100%;
  border-radius: 50px;
  position: relative;
  overflow: hidden;
  background: url('../../assets/img/main-bg.jpg') no-repeat center / cover;

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: end;

    &__title {
      font-weight: 600;
      font-size: 48px;
      line-height: 48px;
      color: #fcfcfd;

      span {
        background: $main-color;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    &__descr {
      width: 576px;
      font-weight: 400;
      font-size: 20px;
      letter-spacing: -0.01em;
      color: #fff;
    }
  }

  &__first-abstract,
  &__second-abstract,
  &__third-abstract {
    position: absolute;
    z-index: 0;
    pointer-events: none;
  }

  &__first-abstract {
    left: -184px;
    top: 50px;
    animation: rotateSlow 60s linear infinite;
  }

  &__second-abstract {
    top: 71px;
    left: 527px;
    animation: floatUpDown 12s ease-in-out infinite;
  }

  &__third-abstract {
    bottom: -191px;
    right: -387px;
    animation: rotateSlow 90s linear infinite,
      floatUpDown 15s ease-in-out infinite;
  }
}
