.page404 {
  padding: 55px 0 123px;

  &-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-header {
    font-weight: 800;
    font-size: 64px;
    color: #000;
    line-height: 96px;
  }

  &-subheader {
    font-weight: 700;
    font-size: 24px;
    color: #000;
    line-height: 36px;
  }

  &-img {
    margin-top: 54px;
    max-width: 505px;
  }

  &-back {
    margin-top: 80px;
    width: 160px;
    height: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #000;
    font-weight: 400;
    font-size: 24px;
    color: #000;
    line-height: 36px;
    position: relative;
    padding-bottom: 2px;
    transition: all 0.3s ease;

    &:hover {
      color: #ff7f00;

      svg {
        transform: translateX(5px);

        path {
          fill: #ff7f00;
        }
      }

      &::after {
        width: 100%;
      }
    }

    svg {
      transition: transform 0.3s ease;
      min-width: 36px;
      min-height: 36px;

      path {
        transition: fill 0.3s ease;
      }
    }

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -2px;
      height: 2px;
      background-color: #ff7f00;
      width: 0;
      transition: width 0.3s ease;
    }
  }
}
